*{
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table,tr,td,th {
    border: 2px solid black;
    border-collapse: collapse;
    box-sizing: border-box;
    border-spacing: 0;
}
td, th{
    padding: 10px;
}